{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Default tab title'|t,
    instructions: 'This will be a the title of the tab created for every new section'|t,
    id: 'tabTitle',
    name: 'tabTitle',
    value: settings['tabTitle'],
    errors: settings.getErrors('tabTitle')
}) }}

{{ forms.lightswitchField({
    label: 'Should every section have a title field?'|t,
    instructions: 'Only applied to Single sections (channels and structures have titles by default)'|t,
    id: 'hasTitleField',
    name: 'hasTitleField',
    value: "1",
    errors: settings.getErrors('hasTitleField'),
    on: (settings['hasTitleField'] is defined) ? settings['hasTitleField'] : "",
}) }}
